<a href="https://colab.research.google.com/github/GuiAbade/AluraAtividades/blob/main/desafios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Descrição

Esse notebook foi construído para realizar os desafios propostos no final de cada aula do curso **Pandas: conhecendo a biblioteca**

## Aula 1: Conhecendo a base de dados

### Desafio 1
Importe o arquivo [**alunos.csv**](https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/alunos.csv) e armazene seu conteúdo em um DataFrame Pandas

In [3]:
import pandas as pd

In [4]:
url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/alunos.csv'
pd.read_csv(url)

         Nome  Idade  Notas  Aprovado
0         Ary     20    7.5      True
1         Ana     18    NaN     False
2       Cátia     27    2.5     False
3       Denis     18    5.0     False
4        Beto     21   10.0      True
5       Bruna     23    NaN     False
6        Dara     21    7.0      True
7      Carlos     19    6.0      True
8       Alice     35    5.6     False
9       Vitor     28    NaN     False
10     Daniel     21    NaN     False
11       Igor     24    4.5     False
12  Sthefanie     26    9.5      True
13      Mirla     25    9.0      True
14      Paulo     37    NaN     False
15     Mylena     29    7.0      True
16      Lucas     33    NaN     False
17      Nadia     34    8.0      True

### Desafio 2
Visualize as primeiras 7 linhas do DataFrame e as 5 últimas

In [5]:
dados = pd.read_csv(url)
dados.head(7)

    Nome  Idade  Notas  Aprovado
0    Ary     20    7.5      True
1    Ana     18    NaN     False
2  Cátia     27    2.5     False
3  Denis     18    5.0     False
4   Beto     21   10.0      True
5  Bruna     23    NaN     False
6   Dara     21    7.0      True

### Desafio 3
Confira a quantidade de linhas e colunas do DataFrame

In [6]:
dados.shape

(18, 4)

### Desafio 4
Explore as colunas do DataFrame e analise os tipos dos dados presentes em cada coluna

In [7]:
dados['Nome']

0           Ary
1           Ana
2         Cátia
3         Denis
4          Beto
5         Bruna
6          Dara
7        Carlos
8         Alice
9         Vitor
10       Daniel
11         Igor
12    Sthefanie
13        Mirla
14        Paulo
15       Mylena
16        Lucas
17        Nadia
Name: Nome, dtype: object

In [8]:
dados['Idade']

0     20
1     18
2     27
3     18
4     21
5     23
6     21
7     19
8     35
9     28
10    21
11    24
12    26
13    25
14    37
15    29
16    33
17    34
Name: Idade, dtype: int64

In [9]:
dados['Notas']

0      7.5
1      NaN
2      2.5
3      5.0
4     10.0
5      NaN
6      7.0
7      6.0
8      5.6
9      NaN
10     NaN
11     4.5
12     9.5
13     9.0
14     NaN
15     7.0
16     NaN
17     8.0
Name: Notas, dtype: float64

In [10]:
dados['Aprovado']

0      True
1     False
2     False
3     False
4      True
5     False
6      True
7      True
8     False
9     False
10    False
11    False
12     True
13     True
14    False
15     True
16    False
17     True
Name: Aprovado, dtype: bool

### **Extra**
Calcule algumas estatísticas descritivas básicas dos dados do DataFrame (média, desvio padrão, etc) - Dica: pesquise pelo método **describe**

In [11]:
dados.describe().style.format("{:.2f}")

## Aula 2: Análise exploratória dos dados

Para os desafios dessa aula, vamos utilizar a mesma base de dados que estamos utilizando para o desenvolvimento do nosso projeto. Sendo assim, na célula abaixo vamos realizar a importação dessa base de dados e aplicar as transformações já realizadas até o momento da aula 2.

In [12]:
import pandas as pd

In [13]:
# importando a base de dados
url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'
dados = pd.read_csv(url, sep=';')

In [14]:
imoveis_comerciais = ['Conjunto Comercial/Sala',
                      'Prédio Inteiro', 'Loja/Salão',
                      'Galpão/Depósito/Armazém',
                      'Casa Comercial', 'Terreno Padrão',
                      'Loja Shopping/ Ct Comercial',
                      'Box/Garagem', 'Chácara',
                      'Loteamento/Condomínio', 'Sítio',
                      'Pousada/Chalé', 'Hotel', 'Indústria']

# removendo imóveis comerciais
df = dados.query('@imoveis_comerciais not in Tipo')

# selecionando apenas imóveis do tipo apartamento
df = df.query('Tipo == "Apartamento"')

# visualizando a base de dados
df.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
10,Apartamento,Centro,1,0,0,36,1200.0,NaN,NaN

### Desafio 1
Calcular a média de quartos por apartamento

In [15]:
qtd_quartos = df['Quartos'].count()
qtd_quartos

np.int64(19532)

### Desafio 2
Conferir quantos bairros únicos existem na nossa base de dados

### Desafio 3
Analisar quais bairros possuem a média de valor de aluguel mais elevadas

### Desafio 4
Criar um gráfico de barras verticais que apresente os 5 bairros com a média de valor de aluguel mais elevadas

## Aula 3

Importe novamente o arquivo [**alunos.csv**](https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/alunos.csv) para realizar os desafios abaixo.

In [34]:
# Importando novamente os dados
url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/alunos.csv'
dados = pd.read_csv(url)
dados

         Nome  Idade  Notas  Aprovado
0         Ary     20    7.5      True
1         Ana     18    NaN     False
2       Cátia     27    2.5     False
3       Denis     18    5.0     False
4        Beto     21   10.0      True
5       Bruna     23    NaN     False
6        Dara     21    7.0      True
7      Carlos     19    6.0      True
8       Alice     35    5.6     False
9       Vitor     28    NaN     False
10     Daniel     21    NaN     False
11       Igor     24    4.5     False
12  Sthefanie     26    9.5      True
13      Mirla     25    9.0      True
14      Paulo     37    NaN     False
15     Mylena     29    7.0      True
16      Lucas     33    NaN     False
17      Nadia     34    8.0      True

### Desafio 1
Verifique se a base de dados possui dados nulos e caso tenha, realize o tratamento desses dados nulos

In [38]:

dados.isnull().sum()

Nome        0
Idade       0
Notas       0
Aprovado    0
dtype: int64

In [40]:
dados = dados.fillna(0)
dados

         Nome  Idade  Notas  Aprovado
0         Ary     20    7.5      True
1         Ana     18    0.0     False
2       Cátia     27    2.5     False
3       Denis     18    5.0     False
4        Beto     21   10.0      True
5       Bruna     23    0.0     False
6        Dara     21    7.0      True
7      Carlos     19    6.0      True
8       Alice     35    5.6     False
9       Vitor     28    0.0     False
10     Daniel     21    0.0     False
11       Igor     24    4.5     False
12  Sthefanie     26    9.5      True
13      Mirla     25    9.0      True
14      Paulo     37    0.0     False
15     Mylena     29    7.0      True
16      Lucas     33    0.0     False
17      Nadia     34    8.0      True

In [41]:
dados.isnull().sum()

Nome        0
Idade       0
Notas       0
Aprovado    0
dtype: int64

### Desafio 2
Os alunos "Alice" e "Carlos", não fazem mais parte da turma. Sendo assim, remova-os da base de dados

In [42]:
dados.query('Nome == "Alice" | Nome == "Carlos"')

     Nome  Idade  Notas  Aprovado
7  Carlos     19    6.0      True
8   Alice     35    5.6     False

In [46]:
dados.query('Nome == "Alice" | Nome == "Carlos"').index

Index([7, 8], dtype='int64')

In [47]:

alunos_a_remover = dados.query('Nome == "Alice" | Nome == "Carlos"').index

dados.drop(alunos_a_remover, axis=0, inplace=True)

In [48]:
dados.query('Nome == "Alice" | Nome == "Carlos"')

Empty DataFrame
Columns: [Nome, Idade, Notas, Aprovado]
Index: []

### Desafio 3
Aplique um filtro que selecione apenas os alunos que foram aprovados

In [49]:
dados['Aprovado'] == True

0      True
1     False
2     False
3     False
4      True
5     False
6      True
9     False
10    False
11    False
12     True
13     True
14    False
15     True
16    False
17     True
Name: Aprovado, dtype: bool

In [50]:
selecao = dados['Aprovado'] == True
dados[selecao]

         Nome  Idade  Notas  Aprovado
0         Ary     20    7.5      True
4        Beto     21   10.0      True
6        Dara     21    7.0      True
12  Sthefanie     26    9.5      True
13      Mirla     25    9.0      True
15     Mylena     29    7.0      True
17      Nadia     34    8.0      True

### Desafio 4
Salve o DataFrame que possui apenas os alunos aprovados em um arquivo csv chamado "alunos_aprovados.csv"

In [51]:
alunos_aprovados = dados[selecao]

In [52]:
alunos_aprovados.to_csv('alunos_aprovados.csv', index=False)

In [53]:
pd.read_csv('alunos_aprovados.csv')

        Nome  Idade  Notas  Aprovado
0        Ary     20    7.5      True
1       Beto     21   10.0      True
2       Dara     21    7.0      True
3  Sthefanie     26    9.5      True
4      Mirla     25    9.0      True
5     Mylena     29    7.0      True
6      Nadia     34    8.0      True

### **Extra**
Ao conferir as notas dos alunos aprovados, notamos que algumas notas estavam incorretas. As alunas que tiraram nota 7.0, na verdade tinham um ponto extra que não foi contabilizado. Sendo assim, substitua as notas 7.0 da base de dados por 8.0. **Dica**: pesquise pelo método **replace**

In [54]:
alunos_aprovados

         Nome  Idade  Notas  Aprovado
0         Ary     20    7.5      True
4        Beto     21   10.0      True
6        Dara     21    7.0      True
12  Sthefanie     26    9.5      True
13      Mirla     25    9.0      True
15     Mylena     29    7.0      True
17      Nadia     34    8.0      True

In [55]:
alunos_aprovados.replace(7.0, 8.0)

         Nome  Idade  Notas  Aprovado
0         Ary     20    7.5      True
4        Beto     21   10.0      True
6        Dara     21    8.0      True
12  Sthefanie     26    9.5      True
13      Mirla     25    9.0      True
15     Mylena     29    8.0      True
17      Nadia     34    8.0      True

In [56]:
alunos_aprovados = alunos_aprovados.replace(7.0, 8.0)
alunos_aprovados

         Nome  Idade  Notas  Aprovado
0         Ary     20    7.5      True
4        Beto     21   10.0      True
6        Dara     21    8.0      True
12  Sthefanie     26    9.5      True
13      Mirla     25    9.0      True
15     Mylena     29    8.0      True
17      Nadia     34    8.0      True

## Aula 4

Importe novamente o arquivo [**alunos.csv**](https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/alunos.csv) para realizar os desafios abaixo.

In [62]:
# Importando novamente os dados

import pandas as pd

In [64]:
url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/desafios/alunos.csv'
dados = pd.read_csv(url)
dados

         Nome  Idade  Notas  Aprovado
0         Ary     20    7.5      True
1         Ana     18    NaN     False
2       Cátia     27    2.5     False
3       Denis     18    5.0     False
4        Beto     21   10.0      True
5       Bruna     23    NaN     False
6        Dara     21    7.0      True
7      Carlos     19    6.0      True
8       Alice     35    5.6     False
9       Vitor     28    NaN     False
10     Daniel     21    NaN     False
11       Igor     24    4.5     False
12  Sthefanie     26    9.5      True
13      Mirla     25    9.0      True
14      Paulo     37    NaN     False
15     Mylena     29    7.0      True
16      Lucas     33    NaN     False
17      Nadia     34    8.0      True

### Desafio 1
Os alunos participaram de uma atividade extracurricular e ganharam pontos extras. Esses pontos extras correspondem a 40% da nota atual de cada um deles. Com base nisso, crie uma coluna chamada "Pontos_extras" que contenha os pontos extras de cada aluno, ou seja, 40% da nota atual deles

In [65]:
dados['Pontos_extras'] = dados['Notas'].apply(lambda x: x*0.4)
dados

         Nome  Idade  Notas  Aprovado  Pontos_extras
0         Ary     20    7.5      True           3.00
1         Ana     18    NaN     False            NaN
2       Cátia     27    2.5     False           1.00
3       Denis     18    5.0     False           2.00
4        Beto     21   10.0      True           4.00
5       Bruna     23    NaN     False            NaN
6        Dara     21    7.0      True           2.80
7      Carlos     19    6.0      True           2.40
8       Alice     35    5.6     False           2.24
9       Vitor     28    NaN     False            NaN
10     Daniel     21    NaN     False            NaN
11       Igor     24    4.5     False           1.80
12  Sthefanie     26    9.5      True           3.80
13      Mirla     25    9.0      True           3.60
14      Paulo     37    NaN     False            NaN
15     Mylena     29    7.0      True           2.80
16      Lucas     33    NaN     False            NaN
17      Nadia     34    8.0      True           3.20

### Desafio 2
Crie mais uma coluna, chamada "Notas_finais" que possua as notas de cada aluno somada com os pontos extras

In [66]:
dados['Notas_finais'] = dados['Notas'] + dados['Pontos_extras']
dados

         Nome  Idade  Notas  Aprovado  Pontos_extras  Notas_finais
0         Ary     20    7.5      True           3.00         10.50
1         Ana     18    NaN     False            NaN           NaN
2       Cátia     27    2.5     False           1.00          3.50
3       Denis     18    5.0     False           2.00          7.00
4        Beto     21   10.0      True           4.00         14.00
5       Bruna     23    NaN     False            NaN           NaN
6        Dara     21    7.0      True           2.80          9.80
7      Carlos     19    6.0      True           2.40          8.40
8       Alice     35    5.6     False           2.24          7.84
9       Vitor     28    NaN     False            NaN           NaN
10     Daniel     21    NaN     False            NaN           NaN
11       Igor     24    4.5     False           1.80          6.30
12  Sthefanie     26    9.5      True           3.80         13.30
13      Mirla     25    9.0      True           3.60         12.60
14      Paulo     37    NaN     False            NaN           NaN
15     Mylena     29    7.0      True           2.80          9.80
16      Lucas     33    NaN     False            NaN           NaN
17      Nadia     34    8.0      True           3.20         11.20

### Desafio 3
Como os alunos ganharam pontos extras, alguns que não tinham sido aprovados antes podem ter sido aprovados agora. Com base nisso, crie uma coluna chamada "Aprovado_final" com os seguintes valores:

* True: caso o aluno esteja aprovado (nota final deve ser maior ou igual a 6);
* False: caso o aluno esteja reprovado (nota final deve ser menor que 6).

In [67]:
dados['Aprovado_final'] = dados['Notas_finais'].apply(lambda x: True if x >= 6 else False)
dados

,Nome,Idade,Notas,Aprovado,Pontos_extras,Notas_finais,Aprovado_final
0,Ary,20,7.5,True,3.00,10.50,True
1,Ana,18,NaN,False,NaN,NaN,False
2,Cátia,27,2.5,False,1.00,3.50,False
3,Denis,18,5.0,False,2.00,7.00,True
4,Beto,21,10.0,True,4.00,14.00,True
5,Bruna,23,NaN,False,NaN,NaN,False
6,Dara,21,7.0,True,2.80,9.80,True
7,Carlos,19,6.0,True,2.40,8.40,True
8,Alice,35,5.6,False,2.24,7.84,True
9,Vitor,28,NaN,False,NaN,NaN,False
10,Daniel,21,NaN,False,NaN,NaN,False
11,Igor,24,4.5,False,1.80,6.30,True
12,Sthefanie,26,9.5,True,3.80,13.30,True
13,Mirla,25,9.0,True,3.60,12.60,True
14,Paulo,37,NaN,False,NaN,NaN,False
15,Mylena,29,7.0,True,2.80,9.80,True
16,Lucas,33,NaN,False,NaN,NaN,False
17,Nadia,34,8.0,True,3.20,11.20,True

### Desafio 4
Faça uma seleção e verifique quais alunos não tinham sido aprovados anteriormente, mas foram aprovados após a soma dos pontos extras

In [68]:
dados.query('Aprovado == False & Aprovado_final == True')

     Nome  Idade  Notas  Aprovado  Pontos_extras  Notas_finais  Aprovado_final
3   Denis     18    5.0     False           2.00          7.00            True
8   Alice     35    5.6     False           2.24          7.84            True
11   Igor     24    4.5     False           1.80          6.30            True

In [69]:

selecao = (dados['Aprovado'] == False) & (dados['Aprovado_final'] == True)
dados[selecao]

     Nome  Idade  Notas  Aprovado  Pontos_extras  Notas_finais  Aprovado_final
3   Denis     18    5.0     False           2.00          7.00            True
8   Alice     35    5.6     False           2.24          7.84            True
11   Igor     24    4.5     False           1.80          6.30            True